body {
	font-family: 'Droid Sans', sans-serif;
}

#destinybrand {
	font-family: 'Fauna One', serif;
}

.main {
	margin-top: 50px;
	margin-bottom: 50px;
}

.gh-btn {
	margin-top: 7px;
}

.m-logo {
	bottom: 5em !important;
	left: 2em !important;
}